<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People Search</title>
    <link rel="stylesheet" href="./site.css">
</head>
<body data-ng-app="peopleSearch.app" data-ng-strict-di="">

<div class="container people-search" data-ng-cloak="" data-ng-controller="peopleSearchController as vm">
    <header>
        <div class="page-header">
            <h1 class="people-search--header">People search</h1>
        </div>
    </header>

    <div class="row">
        <div class="form-group">
            <input type="search" class="form-control people-search--search-term"
                   data-ng-model="vm.model.searchTerm"
                   data-ng-model-options="vm.searchFilterOptions"
                   placeholder="enter your search term"
                   aria-label="Enter here to search for people">
        </div>
    </div>

    <div class="row">
        <ul>
            <li class="col-xs-12 col-sm-6 col-md-4"
                    data-ng-repeat="person in vm.getPeopleData() | filter: {name: vm.model.searchTerm} track by person.id">
                <div class="text-center">
                    <img data-ng-src="./{{person.picture}}" src="#" alt="Picture of {{person.name}}"/>
                </div>
                <div class="text-center">
                    <p class="text-center people-search--name">{{person.name}}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="row" data-ng-if="vm.hasError()">
        <div class="alert alert-danger" role="alert">
            Unable to load the data.
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="index.module.js"></script>
<script src="index.config.js"></script>
<script src="components/index.module.js"></script>
<script src="components/services/index.module.js"></script>
<script src="components/services/peopleData.factory.js"></script>
<script src="peopleSearch/peopleSearch.controller.js"></script>
</body>
</html>